// Define variables for your color scheme

// For example:
$red: #F16567;
$yellow: #F9C973;
$darkeryellow: #f3b238;
$orange: #E67E22;
$green: #75dbadb9;
$turquoise: #8AD0C5;
$darkerturquoise: #5daa9e;
$gray: #0e00009d;
$light-gray: #F4F4F4;
$secondarycolor: #F18889;
$darkersecondarycolor: #ff6600;
$primarycolor: #83B3E1;
$blue-grey: rgb(189, 200, 228);
$dark-grey: rgb(20, 20, 20);
$off-white: rgb(250, 250, 250);


// slightly pale blue #4b98d6;
// darker blue #003366;
// #2c599d medium blue
// turquoise #219ebc
