// Define variables for your color scheme

// For example:
$red: #F16567;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #75dbadb9;
$gray: #0e00009d;
$light-gray: #F4F4F4;
$pink: #F3BAE5;
$blue: #2F8CD7;
$dark-grey: rgb(20, 20, 20);
$off-white: rgb(248, 248, 248);
