// Import Google fonts

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;500;800&family=Poppins:wght@100;200;400;600&family=Raleway:wght@100;300;500&display=swap');
@import "colors";

// Define fonts for body and headers
$body-font: "Poppins", "Open Sans";
$headers-font: "Manrope", "Open Sans";



// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

h1 {
  font-size: 64px !important;
  font-weight: 800 !important;
  color: $secondarycolor !important;
}

h2 {
  font-size: 48px !important;
  font-weight: 800 !important;
  color: $secondarycolor;
}

h3 {
  font-size: 36px !important;
}

h1, h4, h5, h3 {
  color: $primarycolor;
}

p {
  color: $gray;
  font-weight: 200;
}
