.container-small {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 720px;
  margin-top: 32px;
  background-color: white;
}

.container-lg-bordered {
  width: 100%;
  max-width: 1240px;
  margin: 48px auto;
  background-color: white;
  border-radius: 5px;
}

.container-lg-bordered-no-mt {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1240px;
  border-left: 1px solid $secondarycolor;
  border-right: 1px solid $secondarycolor;
  background-color: white;
  padding-top: 32px;
}
