.container-small {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 720px;
  margin-top: 32px;
  background-color: white;
}

.container-lg {
  width: 100%;
  margin: 0 !important;
}

.container-transp {
  background-color: rgba(255,255,255, 0.5);
  padding: 0 60px 80px 60px;
}

.resource-comments-container {
  width: 70%;
  margin-right: 56px;
}

.sidebar {
  width: 30%;
}

.related-container {
  width: 100%;
  display: grid;
  padding-top: 5px;
  grid-column-gap: 32px;
  grid-template-columns: 1fr;
  row-gap: 48px;
  margin: 16px 0px;
  grid-auto-flow: column;
  height: 290px;
  overflow-y: scroll;
  scrollbar-color: $secondarycolor;
}
