.turquoise-text {
  color: $turquoise !important;
}

.blue-text {
  color: $primarycolor !important;
}

.pink-text {
  color: $secondarycolor !important;
}

.yellow-text {
  color: $yellow !important;
}
