.slight-round-corners {
  border-radius: 4px;
}

.round-corners {
  border-radius: 12px;
}

.round-top-corners {
  border-radius: 5px 5px 0 0;
}

.round-left-corners {
  border-radius: 12px 0 0 12px;
}
