<div class="lengua-viva-footer">

  <div class="lv-footer-container">
    <div class="footer-content">
      <h6>About us</h6>
      <ul>
        <li>Mission</li>
        <li>Approach</li>
        <li>Team</li>
        <li>Careers</li>
      </ul>
    </div>

    <div class="footer-content">
      <h6>Apps</h6>
      <ul>
        <li>LenguaViva for Android</li>
        <li>LenguaViva for iOS</li>
      </ul>
    </div>

    <div class="footer-content">
      <h6>Help and support</h6>
      <ul>
        <li>LenguaViva FAQs</li>
        <li>Troubleshooting</li>
        <li>Discussion</li>
        <li>Contact us</li>
      </ul>
    </div>

    <div class="footer-content">
      <h6>Privacy and terms</h6>
      <ul>
        <li>Community guidelines</li>
        <li>Terms</li>
        <li>Privacy</li>
      </ul>
    </div>

    <div class="footer-content">
      <h6>Social</h6>
      <ul>
        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
        <li> <a href="#"><i class="fa-brands fa-facebook-square"></i></a></li>
         <%# <li> <a href="#"><i class="fa-brands fa-youtube"></i></a></li> %>
      </ul>
    </div>

</div>
