<div class="interactions-container">
  <div class="d-flex justify-content-end align-items-end">
    <div class="d-flex">
      <% unless @resource.likes.count == 0 %>
      <p class ="like-count" style="margin-bottom:0px;"><%= @resource.likes.count %></p>
      <% end %>
      <%= render "shared/like_button" %>
    </div>
    <div>
      <%= render "shared/bookmark_button" %>
    </div>
  </div>
</div>
