<div class="new-comment-container mt-4">
  <%= simple_form_for @comment, url: resource_comments_path(resource), class: "inline", remote: true do |f| %>
    <div class="d-flex justify-content-center comment-form">
      <%= f.input :content, label: false, required: false, class: "comment-text-input", placeholder: "¿Qué piensas?" %>
      <%= button_tag :submit, class: "btn comment-button" do %>
        <i class="fa-solid fa-paper-plane"></i>
      <% end %>

    </div>
  <% end %>
</div>
