<div class="mt-5 pt-4 border-top" data-controller="translator">
  <h5 class="pink-text">Dictionary</h5>
  <form data-action="click->translator#search">
    <div class="d-flex flex-column align-items-end">
      <div class="d-flex w-100">
        <input class="form-control" id="word-search" aria-describedby="word-search-help" placeholder="Search for a word" data-translator-target="input">
        <button type="submit" class="btn translate-button"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
      <small id="word-search-help" class="form-text text-muted">Español <i class="fa-solid fa-arrow-right-arrow-left"></i> English</small><br>
    </div>
  </form>

  <div class="translation-results">
    <ol class="translations" data-translator-target="results">
    </ol>
  </div>

</div>
