<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "default_avatar", alt: "Klimt painting", class: "d-block carousel-img" %> <br>
    </div>
    <div class="carousel-item">
      <%= image_tag "default_avatar", alt: "Klimt painting", class: "d-block carousel-img" %> <br>
    </div>
    <div class="carousel-item">
      <%= image_tag "default_avatar", alt: "Klimt painting", class: "d-block carousel-img" %> <br>
    </div>
  </div>
</div>
