<div id="carouselExampleSlidesOnly" class="carousel carousel-fade slide m-0" data-bs-ride="carousel">
  <div class="carousel-inner m-0">
    <div class="carousel-item active m-0 vh-100">
      <%= image_tag "street_cafe.png", alt: "Cafe in the street", class: "d-block carousel-img" %> <br>
    </div>
    <div class="carousel-item m-0 vh-100">
      <%= image_tag "machupicchu.png", alt: "Machu Picchu", class: "d-block carousel-img" %> <br>
    </div>
    <div class="carousel-item m-0 vh-100">
      <%= image_tag "fridakahlo.png", alt: "Frida Kahlo", class: "d-block carousel-img" %> <br>
    </div>
  </div>
</div>
