<div class="container-fluid">
  <div class="row">
    <div class="col landing-bg">
      <div class="container landing-text">
        <div class="typewriter">
          <h1>Level Up Your Language</h1>
        </div>
          <h3>Practise foreign languages with authentic materials.</h2>
          <p>Lengua Viva gives you personalised recommendations for songs, podcasts, articles and videos in your language of choice</p>
        <h2><%= link_to "Login", new_user_session_path %></h2>
      </div>
    </div>

    <div class="col landing-bg">
      <div class="container">
      <%= render "image_carousel" %>
      </div>

    </div>

  </div>

</div>

<%= javascript_pack_tag 'homepage' %>
