<div class="d-flex m-0 justify-content-between align-items-between">
  <div class="w-50 landing-bg px-4">
    <div class="container landing-text">
      <%= image_tag "lengua_viva_logo_cropped_text", width: 200, height: 110, class: "mb-4" %>
      <div class="typewriter">
        <h1>Level Up Your Language</h1>
      </div>
        <h3>Practise foreign languages with authentic materials.</h2>
        <p class="my-4">Lengua Viva gives you personalised recommendations for songs, podcasts, articles and videos in your language of choice</p>
        <%= link_to "Get Started", resources_path, class: "btn my-4 btn-success sign-up-btn" %>

    </div>
  </div>

  <div class="w-50 landing-bg">
    <%= render "image_carousel" %>
  </div>
