<div class="container">

  <h2>TOP RATED</h2>
  <div class="card-container">
    <%= render @resources %>
  </div>

  <h2>JUST FOR YOU</h2>
  <div class="card-container">
    <%= render @resources %>
  </div>
</div>
