<div class="container-transp">
  <h1>Your search results</h1>

  <div class="card-container">
    <%= render @results %>
  </div>
<br>
<br>
  <%= link_to "Back to My Feed", resources_path %>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
