<div class="my-profile-container">
  <h2>My profile</h2>

    <div class="my-profile-details">
      <%= current_user.first_name %>
      <%= current_user.last_name %>
    </div>

    <div class="my-profile-preferences">
      <h4>My preferences</h4>
      <h5>Content</h5>

      <div class="my-preferences-content">
        <div class="my-preferences-card">
        Music
        </div>
        <div class="my-preferences-card">
        Theatre
        </div>
        <div class="my-preferences-card">
        Dance
        </div>
        <div class="my-preferences-card">
        Sport
        </div>
        <div class="my-preferences-card">
        Politics
        </div>
        <div class="my-preferences-card">
        Dance
        </div>
        <div class="my-preferences-card">
        Sport
        </div>
         <div class="my-preferences-card">
        Politics
        </div>


      </div>
      <h5>Media format</h5>



    </div>




</div>
