.sign-up-btn {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 50px;
  font-weight: bold;
}

.search-button {
  color: white;
  background-color: $turquoise;
  border-radius: 0 12px 12px 0;
}
