// .container {
//   display: flex;
//   justify-content: center;
// }


.resource-card {
  width: 400px;
  height: 270px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  padding-top: 16px;
}


.resource-card:hover {
  transition: 0.2s ease;
  transform: scale(1.01);
  box-shadow: 3px 3px 5px $secondarycolor;
}

.resource-header {
  display: flex;
  height: 25%;
  margin: 16px 16px 6px 16px;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.resource-title-author {
  text-align: left;
  width: 90%;
}

.resource-title {
  width: 330px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-image {
  position: relative;
  width: 100%;
  height: 75%;
  padding: 0px;
  margin: 0px;
}

.card-image img {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: inherit;
}

.card-details {
  display: flex;
}

.card-tags {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  position: absolute;
  left: 16px;
  bottom: 16px;
}

.card-tags p {
  color: white;
  border: 1px solid white;
  border-radius: 25px;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  background-color: $primarycolor;
}

.resource-likes {
  display: flex;
  text-shadow: 1px white;
  justify-content: center;
  position: absolute;
  right: 16px;
  bottom: 16px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.resource-likes p {
  color: white;
  font-size: 16px;
}


.fa-thumbs-up {
  color: $white;
  font-size: 16px;
  vertical-align: middle;
}

.fa-bookmark {
  color: $white;
  font-size: 16px;
  vertical-align: middle;
}

.fa-eye {
  color: $white;
  font-size: 16px;
  vertical-align: middle;
}

.fa-video {
  color: $secondarycolor;
  font-size: 24px;
  vertical-align: middle;
}

.fa-readme {
  color: $secondarycolor;
  font-size: 24px;
  vertical-align: middle;
}
.fa-music {
  color: $secondarycolor;
  font-size: 24px;
  vertical-align: middle;
}
.fa-podcast {
  color: $secondarycolor;
  font-size: 24px;
  vertical-align: middle;
}
.fa-circle-question {
  color: $secondarycolor;
  font-size: 24px;
  vertical-align: middle;
}
