
.card-container {
  width: 90vw;
  display: grid;
  padding-top: 5px;
  grid-column-gap: 32px;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 48px;
  margin: 16px 0px;
  grid-auto-flow: column;
  height: 290px;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-color: $secondarycolor;
  position: relative;
}
.card-container a {
  text-decoration: none;
}

.arrow {
  width: 35px;
  height: 35px;
  right: 2px;
  top: 100px;
  color: $secondarycolor;
  z-index: 999;
  font-size: 38px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

// .arrow-container {
//   position: relative;
//   border-radius: 50%;
//   width: 40px;
//   height: 40px;
//   background-color: transparent;
//   border: 1px $secondarycolor;
// }

// .arrow-container:hover {
//   .arrow {
//     color: $secondarycolor;
//   }
// }
