
.card-container {
  width: 90vw;
  display: grid;
  padding-top: 5px;
  grid-column-gap: 32px;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 48px;
  margin: 16px 0px;
  grid-auto-flow: column;
  height: 270px;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-color: $secondarycolor;
}
.card-container a {
  text-decoration: none;
}

.arrow {
  width: 35px;
  height: 35px;
  position: absolute;
  right: 20px;
  top: 120px;
  color: rgba(20,20,20,0.2);
  z-index: 999;
  font-size: 38px;
}

.arrow-container {
  position: relative;
}

.arrow-container:hover {
  .arrow {
    color: rgba(20,20,20,0.9)
  }
}
