.comments-container {
  background: white;
  width: 45%;
  position: relative;
  padding: 0 24px 24px 24px;
  h2 {
    font-size: 28px !important;
    padding-right: 24px;
}

.existing-comments {
  height: 500px;
  overflow: scroll;
  padding-right: 24px;
  scrollbar-color: $primarycolor;
}


.comment-container {
  border-bottom: 1px solid #ced4da;
  overflow-wrap: break-word;
  }
  p {
    margin: 0;
  }
  .del {
    text-align: right;
    color: #CED4DA;
    transition: 0.3s;
  }
  .del:hover {
    color: $secondarycolor;
  }
}

.comment-details {
  p {
    margin: 0 12px;
    font-size: 15px;
    font-weight: 400;
  }
}

#comment-time-ago {
  font-size: 13px;
}

.new-comment-container {
  input {
    margin: 0;
    height: 50px;
  }

  .comment-form {
    position: relative;
  }

  .comment-button {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    font-size: 16px;
    padding: 0;
    color: $off-white;
    position: absolute;
    right: 15px;
    top: 87px;
  }

  .comment-button:hover {
    color: $secondarycolor;
    background-color: $primarycolor;
    border: none;
  }

  .comment_content {
    width: 100%;
  }

  textarea {
    resize: none;
    border-radius: 24px;
    padding: 15px;
    height: 137px;
    font-weight: 200;
  }
}
