.lengua-viva-footer {
  background-color: $blue;
  // height: 100px;
  // margin-top: 80px;

  // .footer-socials {
  //   font-size: 26px;
  //   padding-top: 10px;
  //   a {
  //     color: $pink;
  //     margin: 0 24px;
  //     transition: 0.2s;
  //   }
  //   i:hover {
  //     color: $red;
  //   }
  // }
}

.lv-footer-container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  max-width: 1065px;
  padding: 36px 40px;
}

.footer-content {
  // padding: 0 24px 48px 0;
  width: 170px;
}

.footer-content ul {
list-style: none;
margin: 0;
padding: 0;
color: $off-white;
}

.footer-content h6 {
  color: $pink;
  font-weight: bold;
}

.fa-brands {
  font-size: 26px;
  color: $off-white;
  padding-top: 10px;
  //   a {
  //     color: $pink;
  //     margin: 0 24px;
  //     transition: 0.2s;
}
