// .featured-content {
//   width: 90vw;
//   height: 270px;
//   display: flex;
//   align-items: center;
//   margin: 16px 0px;
// }
.spotlight-feature {
  display: flex;
  height: 400px;
  width: 100%;
  gap: 38px;
}

.flip-container { // flip-card
  background-color: transparent;
  height: 100%;
  width: 450px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  perspective: 1000px;
}

.featured-content { // flip-card-inner
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-container:hover .featured-content {
  transform: rotateY(180deg);
}

.featured-content-front img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.featured-content-front, .featured-content-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.featured-content-back {
  transform: rotateY(180deg);
  padding: 32px;
}

.featured-content-back h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 24px;
}

.featured-content-back a {
  text-decoration: none;
}

.featured-content p {
  font-size: 17px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  padding-bottom: 16px;
}

// .featured-content .featured-content-info {
//   overflow: hidden;
//   text-overflow: ellipsis;
// }

#spotlight-icon {
  position: absolute;
  right: 32px;
  bottom: 32px;
  z-index: 999;
}

.spotlight-comments {
  height: 100%;
  margin: auto;
  overflow: scroll;
  text-align: left;
}
