.featured-content {
  width: 90vw;
  overflow: hidden;
  height: 250px;
  background: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-items: space-between;
}

.featured-content img {
  height: 100%;
  width: 450px;
  object-fit: cover;
}

.featured-content h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.featured-content p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.featured-content .featured-content-info {
  padding: 16px;
}
