.banner {
  background-color: rgba(255,255,255, 0.5);
  height: 400px;
  padding: 100px 0 0 250px;
}

.banner h1 {
  margin: 0;
  color: $secondarycolor !important;
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: $gray;
}

.banner btn btn-info {
  color: white !important;
  font-weight: bold !important;
}

.search-field {
  display: flex;
  align-items: left;
}

.search-bar {
  display: flex;
}

#home-search {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  margin-left: auto;
}

.resource-search {
  flex-direction: column;
}

.filters {
  margin: 18px 18px 18px 0px;
  display: flex;
  align-items: center;
  width: 55vw;
  gap: 12px;
  flex-wrap: wrap;
}

.filter-tags {
  position: absolute;
  transform: scale(0);
}

.filter-tags + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: white;
  color: $secondarycolor;
  border: 1px solid $secondarycolor;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.filter-tags:checked + label {
  background-color: $secondarycolor;
  color: white;
}

.filter-tags-active {
  position: absolute;
  transform: scale(0);
}

.filter-tags-active + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: $secondarycolor;
  color: white;
  border: 1px solid $secondarycolor;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

#preferences {
  border-radius: 50rem;
  padding: 6px 12px;
  color: $turquoise;
  font-size: 14px;
  border: 1px solid $turquoise;
  background-color: white;
  transition: 0.2s;
    &:hover {
      color: white;
      background-color: $turquoise;
    }
}
