.banner {
  background-color: rgba(255,255,255, 0.5);
  height: 400px;
  padding: 100px 0 0 250px;
}

.banner h1 {
  margin: 0;
  color: $secondarycolor !important;
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: $gray;
}

.banner btn btn-info {
  color: white !important;
  font-weight: bold !important;
}

.search-bar {
  display: flex;
}

.resource-search {
  flex-direction: column;
}

.filters {
  margin: 18px;
  display: flex;
  align-items: center;
  width: 65vw;
  gap: 12px;
  flex-wrap: wrap;
}
