.bookmark-icon, .like-icon, .like-count {
  color: $secondarycolor !important;
  text-decoration: none;
  font-size: 28px !important;
  &:hover {
    color: $darkersecondarycolor;
  }
}

.like-icon {
  margin-left: 10px;
}

.bookmark-icon {
  margin-bottom: 6px;
  margin-left: 15px;
}

.view-btn {
  margin-top: 16px;
  text-decoration: none;
}
