.my-account-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 64px;
  width: 100%;
}

.my-account-nav-container {
  margin-right: 24px;
  height: 250px;
  background: rgba(255,255,255, 0.8)
}

.my-account-main-container {
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.my-account-grid-container {
  margin: auto;
  h2 {
    text-align: left;
    margin-bottom: 24px;
  }
}
