.my-account-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 64px;
  width: 100%;
}

.my-account-nav-container {
  margin-right: 24px;
  background: rgba(255,255,255, 0.8);
  padding: 16px 0 16px 32px;
}

.my-account-main-container {
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.my-account-grid-container {
  margin: auto;
  h2 {
    text-align: left;
    margin-bottom: 24px;
  }
}

.my-profile-preferences {

}

.my-profile-container h2, h3 {
  margin-bottom: 32px;
}

.my-preferences-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

.my-content-preferences-card {
  color: $primarycolor;
  border: 1px solid $primarycolor;
  height: 120px;
  width: 120px;
  border-radius: 6px;
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.2s;
    &:hover {
      color: $secondarycolor;
      border: 1px solid $secondarycolor;
    }
}

.my-preferences-format {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 36px;
  width: 80%;
}

.my-format-preferences-card {
  color: $secondarycolor;
  font-size: 44px;
  border: 1px solid $secondarycolor;
  height: 162px;
  width: 162px;
  border-radius: 6px;
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.2s;
    // &:hover {
    //   color: $primarycolor;
    //   border: 1px solid $primarycolor;
    //   i {
    //     color: $primarycolor;
    //   }
    // }
}

.my-format-preferences-card .format-icon {
  color: $secondarycolor;
  font-size: 44px;
}

.profile-image {
  margin-right: 72px;
}

.filters-profile {
  margin: 0 18px 18px 0px;
  display: flex;
  align-items: center;
  width: 55vw;
  gap: 12px;
}

.filter-tags-profile {
  position: absolute;
  transform: scale(0);
}

.filter-tags-profile + label {
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  border-radius: 50rem;
  padding: 0.4rem 0.9rem;
  background-color: white;
  color: $secondarycolor;
  border: 1px solid $secondarycolor;
  margin-right: 0.6rem;
  margin-bottom: 0.8rem;
}

.filter-tags-profile:checked + label {
  background-color: $secondarycolor;
  color: white;
}

.filter-tags-profile-active {
  position: absolute;
  transform: scale(0);
}

.filter-tags-profile-active + label {
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  border-radius: 50rem;
  padding: 0.4rem 0.9rem;
  background-color: $secondarycolor;
  color: white;
  border: 1px solid $secondarycolor;
  margin-right: 0.6rem;
  margin-bottom: 0.8rem;
}

.filter-tags-profile-active:checked + label {
  background-color: $secondarycolor;
  color: white;
}

#preferences {
  border-radius: 50rem;
  padding: 6px 12px;
  color: $turquoise;
  font-size: 20px;
  border: 1px solid $turquoise;
  background-color: white;
  transition: 0.2s;
    &:hover {
      color: white;
      background-color: $turquoise;
    }
  }

#saved-preferences {
  border-radius: 50rem;
  padding: 6px 12px;
  color: white;
  font-size: 20px;
  border: 1px solid $turquoise;
  background-color: $turquoise;
  transition: 0.2s;
}
