.navbar-lenguaviva {
  justify-content: space-between;
  background: $blue;
  height: 60px;

  .navbar-logo {
    height: 45px;
    object-fit: cover;
  }
}

.navbar-lenguaviva .navbar-collapse {
  flex-grow: 0;
}
