.navbar-lenguaviva {
  justify-content: space-between;
  background: white;
  height: 60px;

  .navbar-logo {
    height: 45px;
    width: 100px;
    object-fit: cover;
  }
}

.navbar-lenguaviva .navbar-collapse {
  flex-grow: 0;
}

.nav-item-link {
  padding-top: 5px;
  margin-right: 16px;
  .nav-link-feed {
    border-bottom: 3px solid $yellow;
  }
  .nav-link-account {
    border-bottom: 3px solid $turquoise;
  }
}

.nav-link {
  padding: 8px 0 0 0 !important;
  font-weight: 400;
  color: rgb(40,40,40);
  &:hover {
    color: $secondarycolor;
  }
}

.dropdown-item {
  color: $secondarycolor;
  font-weight: 400;
}
