.main-reviews-container {
  margin-bottom: 60px;
}

.my-note {
  margin-right: 16px !important;
  padding-top: 2px;
}

.new-review-container {
  margin-top: 0;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  .form-select {
    font-size: 14px;
    font-weight: 100px;
    border-radius: 24px;
    height: 40px;
  }

  .form-control {
    font-size: 14px;
    font-weight: 100px;
    resize: none;
    border-radius: 24px;
    padding: 15px;
    height: 80px;
  }

  .review-button {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    font-size: 20px;
    padding: 0;
    color: #fafafa;
    background-color: $turquoise !important;
    position: absolute;
    right: 0px;
    border: 0 !important;
  }

  .review-button:hover {
    background-color: $darkerturquoise !important;
    border: none;
  }

  h5 {
    margin-top: 5px;
    margin-bottom: 15px;
  }
}

.posted-review-container {
  width: 100%;
}

.fa-star {
  color: #EDB867;
  font-size: 20px;
  }

.fa-trash-can {
  color: #ced4da;
  padding-top: 10px;
  padding-right: 3px;

  &:hover {
    color: $secondarycolor;
  }
}

.review-heading {
  border-bottom: 1px solid #ced4da;
  display: flex;
  justify-content: space-between;

  h5 {
    margin-top: 5px;
  }
}

.review-content {
  padding: 10px 10px 10px 0px;
}
