.new-review-container {
  width: 420px;
  margin-left: 32px;
  position: relative;

  .form-select {
    font-size: 13px;
    font-weight: 100px;
  }

  .form-control {
    font-size: 13px;
    font-weight: 100px;
  }

  .review-button {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    font-size: 16px;
    padding: 0;
    color: #fafafa;
    position: absolute;
    right: 0px;
  }
}

.star-icon {
  font-size: 26px !important;
  color: yellow !important;
}

.posted-review-container {
  width: 420px;
  margin-left: 32px;
  // border: 1px solid $grey;
}
