#dictionary-link {
  font-weight: bold;
}

.translate-button {
  background-color: $turquoise;
  color: #fafafa;
  border: none;
  &:hover {
    background-color: $darkerturquoise !important;
    color: #fafafa;
  }
}
