.vocab-button {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  font-size: 16px;
  padding: 0;
  color: $off-white;
  background: $turquoise !important;
  border: none;
}

#word_extra_info {
  resize: none;
}
